<!DOCTYPE html>
<html lang="en">
<!-- head.html -->
<div th:replace="fragment/head :: head"></div>
<style>
    .col-md-7 {
        width:100%;
    }

    .tabs label{
        display: block;
    }
    .time {
        line-height: 27px;
        margin-right: 13px;
    }
    .res_list {
        display: flex;
        justify-content: space-between;
        line-height: 33px;
    }
</style>
<!-- head.html 끝 -->

<body id="page-top">
<!-- header.html -->
<div th:replace="fragment/header :: header"></div>
<!-- header.html 끝-->
	<div class="wrapper">

        <!-- aside.html 시작 -->
        <div th:replace="fragment/aside :: aside"></div>
        <!-- aside.html 끝 -->


        <section class="content">
            <div class="row" style="display: block">
                <div>
                    <div style="text-align: right;
                    font-size: 22px;
                    font-weight: bold;
                    padding-bottom: 24px;
                    color: #5a5c69;
                    padding-right: 18px;">
                        <a href="" style="color: #5a5c69; text-decoration: none;">&lt;</a>
                        <a href="reservation_calander.html" style="color: #5a5c69; text-decoration: none;">12월 15일</a>
                        <a href="" style="color: #5a5c69; text-decoration: none;">&gt;</a>
                    </div>
                </div>
                <div class="col-md-7" style="max-width: 100%">
                    <article class="widget widget--tabbed">
                        <div class="tabs">
                            <!-- <div class="number-entries">
                                <input class="spinner" name="value" value="3" />
                            </div> -->
                            <input type="radio" name="t" id="tab1" checked>
                            <label for="tab1" class="tabs__tab" style="display: flex;">
                                <div class="time">10시</div>
                                <input type="checkbox" id="s1" class="sw" checked />
                                <label class="switch switch--orange" for="s1" ></label>
                            </label>
                            <input type="radio" name="t" id="tab2">
                            <label for="tab2" class="tabs__tab"style="display: flex;">
                                <div class="time">12시</div>
                                <input type="checkbox" id="s2" class="sw" checked />
                                <label class="switch switch--orange" for="s2"></label>
                            </label>
                            <input type="radio" name="t" id="tab3">
                            <label for="tab3" class="tabs__tab" style="display: flex;">
                                <div class="time">14시</div>
                                <input type="checkbox" id="s3" class="sw" checked />
                                <label class="switch switch--orange" for="s3"></label>
                            </label>
                            <input type="radio" name="t" id="tab4">
                            <label for="tab4" class="tabs__tab"style="display: flex;">
                                <div class="time">17시</div>
                                <input type="checkbox" id="s4" class="sw" checked />
                                <label class="switch switch--orange" for="s4"></label>
                            </label>
                            <input type="radio" name="t" id="tab5">
                            <label for="tab5" class="tabs__tab"style="display: flex;">
                                <div class="time">19시</div>
                                <input type="checkbox" id="s5" class="sw" checked />
                                <label class="switch switch--orange" for="s5"></label>
                            </label>
                            <input type="radio" name="t" id="tab6">
                            <label for="tab6" class="tabs__tab"style="display: flex;">
                                <div class="time">21시</div>
                                <input type="checkbox" id="s6" class="sw" checked />
                                <label class="switch switch--orange" for="s6"></label>
                            </label>
                            <div class="tabs__content">
                                <div class="tabs__content--1"id="tabs__content--1" style=" min-width: 100%;">

                                    <div class="media social_msg">
                                        <div>
                                            <div class="res_list" >
                                                <div>2</div>
                                                <div>홍길동</div>
                                                <div>2022-12-21 17시</div>
                                                <div>010-1111-1111</div>
                                                <div>4명</div>
                                                <div>새우 알레르기, 땅콩 알레르기</div>
                                                <div style="    padding: 0;
                                                border: none;
                                                text-align: center;
                                                ">
                                                    <!-- <button id="link">Redirect to Utopian</button> -->
                                                    <a href="#" class="btn cyan small" style="margin: 0;" id="link">예약확인</a>
                                                    <a href="#" class="btn red small" style="margin: 0;" id="open">예약취소</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div> <!-- /social-msg -->
                                    <div class="media social_msg">
                                        <div>
                                            <div class="res_list">
                                                <div>2</div>
                                                <div>홍길동</div>
                                                <div>2022-12-21 17시</div>
                                                <div>010-1111-1111</div>
                                                <div>4명</div>
                                                <div>새우 알레르기, 땅콩 알레르기</div>
                                                <div style="    padding: 0;
                                                border: none;
                                                text-align: center;
                                                ">
                                                    <!-- <button id="link">Redirect to Utopian</button> -->
                                                    <a href="#" class="btn cyan small" style="margin: 0;" id="link">예약확인</a>
                                                    <a href="#" class="btn red small" style="margin: 0;" id="open">예약취소</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div> <!-- /social-msg -->

                                </div> <!-- /tabs__content 1 -->

                                <div class="tabs__content--2"id="tabs__content--2"style=" min-width: 100%;">
                                    <div class="media social_msg">
                                        <div>
                                            <div class="res_list" >
                                                <div>2</div>
                                                <div>반하나</div>
                                                <div>2022-12-21 17시</div>
                                                <div>010-1111-1111</div>
                                                <div>4명</div>
                                                <div>새우 알레르기, 땅콩 알레르기</div>
                                                <div style="    padding: 0;
                                                border: none;
                                                text-align: center;
                                                ">
                                                    <!-- <button id="link">Redirect to Utopian</button> -->
                                                    <a href="#" class="btn cyan small" style="margin: 0;" id="link">예약확인</a>
                                                    <a href="#" class="btn red small" style="margin: 0;" id="open">예약취소</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div> <!-- /social-msg -->
                                    <div class="media social_msg">
                                        <div>
                                            <div class="res_list">
                                                <div>2</div>
                                                <div>반하나</div>
                                                <div>2022-12-21 17시</div>
                                                <div>010-1111-1111</div>
                                                <div>4명</div>
                                                <div>새우 알레르기, 땅콩 알레르기</div>
                                                <div style="    padding: 0;
                                                border: none;
                                                text-align: center;
                                                ">
                                                    <!-- <button id="link">Redirect to Utopian</button> -->
                                                    <a href="#" class="btn cyan small" style="margin: 0;" id="link">예약확인</a>
                                                    <a href="#" class="btn red small" style="margin: 0;" id="open">예약취소</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div> <!-- /social-msg -->


                                </div> <!-- /tabs__content 2 -->

                                <div class="tabs__content--3"id="tabs__content--3"style=" min-width: 100%;">
                                    <div class="media social_msg">
                                        <div>
                                            <div class="res_list" >
                                                <div>2</div>
                                                <div>오렌지</div>
                                                <div>2022-12-21 17시</div>
                                                <div>010-1111-1111</div>
                                                <div>4명</div>
                                                <div>새우 알레르기, 땅콩 알레르기</div>
                                                <div style="    padding: 0;
                                                border: none;
                                                text-align: center;
                                                ">
                                                    <!-- <button id="link">Redirect to Utopian</button> -->
                                                    <a href="#" class="btn cyan small" style="margin: 0;" id="link">예약확인</a>
                                                    <a href="#" class="btn red small" style="margin: 0;" id="open">예약취소</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div> <!-- /social-msg -->
                                    <div class="media social_msg">
                                        <div>
                                            <div class="res_list">
                                                <div>2</div>
                                                <div>오렌지</div>
                                                <div>2022-12-21 17시</div>
                                                <div>010-1111-1111</div>
                                                <div>4명</div>
                                                <div>새우 알레르기, 땅콩 알레르기</div>
                                                <div style="    padding: 0;
                                                border: none;
                                                text-align: center;
                                                ">
                                                    <!-- <button id="link">Redirect to Utopian</button> -->
                                                    <a href="#" class="btn cyan small" style="margin: 0;" id="link">예약확인</a>
                                                    <a href="#" class="btn red small" style="margin: 0;" id="open">예약취소</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div> <!-- /social-msg -->


                                </div> <!-- /tabs__content 3 -->

                                <div class="tabs__content--4"id="tabs__content--4"style=" min-width: 100%;">
                                    <div class="media social_msg">
                                        <div>
                                            <div class="res_list" >
                                                <div>2</div>
                                                <div>김사과과</div>
                                                <div>2022-12-21 17시</div>
                                                <div>010-1111-1111</div>
                                                <div>4명</div>
                                                <div>새우 알레르기, 땅콩 알레르기</div>
                                                <div style="    padding: 0;
                                                border: none;
                                                text-align: center;
                                                ">
                                                    <!-- <button id="link">Redirect to Utopian</button> -->
                                                    <a href="#" class="btn cyan small" style="margin: 0;" id="link">예약확인</a>
                                                    <a href="#" class="btn red small" style="margin: 0;" id="open">예약취소</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div> <!-- /social-msg -->
                                    <div class="media social_msg">
                                        <div>
                                            <div class="res_list">
                                                <div>2</div>
                                                <div>김사과</div>
                                                <div>2022-12-21 17시</div>
                                                <div>010-1111-1111</div>
                                                <div>4명</div>
                                                <div>새우 알레르기, 땅콩 알레르기</div>
                                                <div style="    padding: 0;
                                                border: none;
                                                text-align: center;
                                                ">
                                                    <!-- <button id="link">Redirect to Utopian</button> -->
                                                    <a href="#" class="btn cyan small" style="margin: 0;" id="link">예약확인</a>
                                                    <a href="#" class="btn red small" style="margin: 0;" id="open">예약취소</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div> <!-- /social-msg -->

                                </div> <!-- /tabs__content 3 -->

                                <div class="tabs__content--5" id="tabs__content--5"style=" min-width: 100%;">
                                    <div class="media social_msg">
                                        <div>
                                            <div class="res_list" >
                                                <div>2</div>
                                                <div>배애리</div>
                                                <div>2022-12-21 17시</div>
                                                <div>010-1111-1111</div>
                                                <div>4명</div>
                                                <div>새우 알레르기, 땅콩 알레르기</div>
                                                <div style="    padding: 0;
                                                border: none;
                                                text-align: center;
                                                ">
                                                    <!-- <button id="link">Redirect to Utopian</button> -->
                                                    <a href="#" class="btn cyan small" style="margin: 0;" id="link">예약확인</a>
                                                    <a href="#" class="btn red small" style="margin: 0;" id="open">예약취소</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div> <!-- /social-msg -->
                                    <div class="media social_msg">
                                        <div>
                                            <div class="res_list">
                                                <div>2</div>
                                                <div>배애리</div>
                                                <div>2022-12-21 17시</div>
                                                <div>010-1111-1111</div>
                                                <div>4명</div>
                                                <div>새우 알레르기, 땅콩 알레르기</div>
                                                <div style="    padding: 0;
                                                border: none;
                                                text-align: center;
                                                ">
                                                    <!-- <button id="link">Redirect to Utopian</button> -->
                                                    <a href="#" class="btn cyan small" style="margin: 0;" id="link">예약확인</a>
                                                    <a href="#" class="btn red small" style="margin: 0;" id="open">예약취소</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div> <!-- /social-msg -->


                                </div> <!-- /tabs__content 2 -->

                                <div class="tabs__content--6" id="tabs__content--6"style=" min-width: 100%;">
                                    <div class="media social_msg">
                                        <div>
                                            <div class="res_list" >
                                                <div>2</div>
                                                <div>체리</div>
                                                <div>2022-12-21 17시</div>
                                                <div>010-1111-1111</div>
                                                <div>4명</div>
                                                <div>새우 알레르기, 땅콩 알레르기</div>
                                                <div style="    padding: 0;
                                                border: none;
                                                text-align: center;
                                                ">
                                                    <!-- <button id="link">Redirect to Utopian</button> -->
                                                    <a href="#" class="btn cyan small" style="margin: 0;" id="link">예약확인</a>
                                                    <a href="#" class="btn red small" style="margin: 0;" id="open">예약취소</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div> <!-- /social-msg -->
                                    <div class="media social_msg">
                                        <div>
                                            <div class="res_list">
                                                <div>2</div>
                                                <div>체리</div>
                                                <div>2022-12-21 17시</div>
                                                <div>010-1111-1111</div>
                                                <div>4명</div>
                                                <div>새우 알레르기, 땅콩 알레르기</div>
                                                <div style="    padding: 0;
                                                border: none;
                                                text-align: center;
                                                ">
                                                    <!-- <button id="link">Redirect to Utopian</button> -->
                                                    <a href="#" class="btn cyan small" style="margin: 0;" id="link">예약확인</a>
                                                    <a href="#" class="btn red small" style="margin: 0;" id="open">예약취소</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div> <!-- /social-msg -->


                                </div> <!-- /tabs__content 2 -->


                            </div> <!-- /tabs__content CONTAINER -->

                        </div> <!-- /widget__tabs -->

                    </article>
                </div>
            </div> <!-- /row -->
        </section> <!-- /content -->

    <!-- End of Page Wrapper -->

    <!-- Logout Modal-->


    <div class="popup">
        <div class="header">
            취소 사유 입력
        <img class="close-icon" src="./images/close.png">
        </div>
        <div class="widget__content contents">
            <h3 class="widget__title" style="    padding-left: 15px;">이메론</h3>
            <p style="    padding-left: 15px;">예약자 번호 : 02-1234-1234</p>
            <p style="    padding-left: 15px;">예약 날짜 및 시간 : 2022-12-22 15시</p>
            <fieldset style="    padding-left: 15px;">
                <div style="    margin-top: 13px;
                font-size: 17px;
                color: gray;
                font-weight: bold;
                margin-bottom: 13px;
                ;">
                    취소 사유 선택
                    <div style="border-bottom: 1px solid;
                    width: 95%; margin-top: 11px;"></div>
                </div>
            
                <div>
                  <input type="radio" id="" name="" value=""
                         >
                  <label for="" style="color: gray;">노쇼</label>
                </div>
                <div>
                  <input type="radio" id="dewey" name="drone" value="dewey">
                  <label for="dewey" style="color: gray;">취소 사유 입력
                    <input type="text" name="" id="" placeholder="취소 사유를 입력해주세요" style=" height: 35px; border: 1px solid gray;">
                  </label>
                </div>
            </fieldset>
                <div style="    text-align: center;
                margin-top: 115px;">
                    
                    <a href="reservation_cancel.html" class="btn red small" style="margin: 0;" id="open">취소하기</a>
                </div>
        </div>
    </div>

    <script src="js/popup.js"></script>
    <script src="js/alert.js"></script>
    <script src="chart.js/Chart.min.js"></script>
    <script src="js_demo/demo/chart-area-demo.js"></script>
    <script src="js_demo/demo/chart-pie-demo.js"></script>
    <script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="amcharts/amcharts.js"></script>
    <script type="text/javascript" src="amcharts/serial.js"></script>
    <script type="text/javascript" src="amcharts/pie.js"></script>
    <script type="text/javascript" src="js/chart.js"></script>
    <script type="text/javascript" src="js/map.js"></script>
    <script src="jquery-jvectormap-1.2.2/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="jquery-jvectormap-1.2.2/jquery-jvectormap-us-aea-en.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript">
        $(function() {
            $('#tab1').click(function() {
                $('#tabs__content--1').show().siblings('div').hide();
            })
        });
        $(function() {
            $('#tab2').click(function() {
                $('#tabs__content--2').show().siblings('div').hide();
            })
        });
        $(function() {
            $('#tab3').click(function() {
                $('#tabs__content--3').show().siblings('div').hide();
            })
        });
        $(function() {
            $('#tab4').click(function() {
                $('#tabs__content--4').show().siblings('div').hide();
            })
        });
        $(function() {
            $('#tab5').click(function() {
                $('#tabs__content--5').show().siblings('div').hide();
            })
        });
        $(function() {
            $('#tab6').click(function() {
                $('#tabs__content--6').show().siblings('div').hide();
            })
        });

    </script>
</body>
</html>
